<div class="bootstrap-wraper">
  <div class="container mt">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="container text-center">  
        <img class="img-fluid" style="width: 100px;" src="/assets/login.png" alt="login image">
        <h1 class="info text-center">Login</h1>
      </div>
      <!--form per login-->
        <form (ngSubmit)="onSubmit()" >
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User</mat-label>
            <input
             matInput placeholder="user name" 
             [(ngModel)]="credentials.username"
             name="username"
             required>
          </mat-form-field>
        <br>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Password</mat-label>
            <input
             matInput [type]="hide ? 'password' : 'text'"
             [(ngModel)]="credentials.password"
             name ="username"
             required autocomplete="additional-name" 
             placeholder="insert password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Non deve contenere spazi vuoti</mat-hint>
          </mat-form-field>
          <br>
          <div>
             <button color="accent" mat-raised-button type="submit">Login</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!--<mat-spinner></mat-spinner>-->