<app-navbar></app-navbar>
<div class="body" #loggedOut>
  <div class="login">
    <form [formGroup]="form" (ngSubmit)="onLogin()" >
      <img class="img-fluid" width="50%" src="/assets/login.png" alt="login image">
      <h1 class="info text-center">Login</h1>
      <mat-form-field appearance="outline" class="fill full-width">
        <mat-label>Username</mat-label>
        <input matInput autocomplete="off" placeholder="username"  required formControlName="user">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fill full-width ">
        <mat-label>Password</mat-label>
        <input matInput autocomplete="off" [type]="hide ? 'password' : 'text'"  required
          placeholder="password" formControlName="pass">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" [disabled]= "form.invalid" >
        <mat-icon>login</mat-icon> Login
      </button>
    </form>
    
  </div>
</div>

<!--<mat-spinner></mat-spinner>-->